@import '../../assets/style/style.css';

/* Conteneur principal du carrousel */
.slide {
  display: flex;
  position: relative;
  height: 400px; 
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
}

/* Flèche gauche */
.left-Arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

/* Flèche droite */
.right-Arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

/* Diapositive */
.slider {
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

.slider.active {
  opacity: 1;
}

/* Image de la diapositive */
.slide_image {
  width: 1300px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Numérotation des diapositives */
.slider_number {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

/* Version mobile */
@media (max-width: 700px) {
.left-Arrow img, .right-Arrow img {
  width: 15px; 
}

.slide {
  margin: 20px auto;
  height: 255px;
  width: 335px;
}

.slider_number {
  display: none;
}
/* Image de la diapositive */
.slide_image {
  width: 335px;
}

}

