/* Styles pour la fiche logement */
.Fiche-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .Fiche-logement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
  }
  
  .description-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .description-info_titletags {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .description-info_tags_title {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .titre-logement {
    font-size: 36px;
    font-weight: bold;
    color: #FF6B6B;
  }
  
  .endroit-logement {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  
  .description-info_tags {
    display: flex;
    flex-wrap: wrap; /* Pour les retourner à la ligne si nécessaire */
    gap: 10px; /* Espace entre les tags */
    width: auto; 
  }
  
  .tag {
    background-color: #ff6b6b; 
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    font-weight: bold;
    height: 25px;
    text-align: center;
  }

  
/* Styles pour l'affichage du propriétaire et des évaluations */
.description-info_proprietaire {
  display: flex;
  flex-direction: column; /* Met photo au-dessus etoile */
  margin-left: 80%;
  position: relative;
  bottom: 110px;
}

.nom-proprietaire {
  margin-right: 10px;
}

.description-info_proprietaire_nom {
  display: flex;
  align-items: center;
  color: #ff6b6b;
  margin-right: 20px; /* Espace entre le nom et les étoiles */
}

.description-info_proprietaire_nom img {
  width: 64px; 
  height: 64px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.description-info_rate {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

  /* Styles pour la section collapsée (Description et Équipements) */
  .description-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .description-content_description,
  .description-content_equipement {
    width: 48%; /* Chaque section prend 48% de la largeur disponible */
  }
  
  .description-content_description {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  
  .description-content_equipement {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles pour les équipements listés */
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Global */
  body {
    font-family: 'Montserra', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  

  
