@import '../../assets/style/style.css';

/* Conteneur principal de la fiche logement */
.Fiche-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
}

/* Conteneur pour les informations principales du logement */
.Fiche-logement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
}

/* Conteneur pour les informations descriptives du logement */
.description-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Conteneur pour le titre et les tags du logement */
.description-info_titletags {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 80px;
}

/* Conteneur pour le titre et les tags du logement */
.description-info_tags_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Style pour le titre du logement */
.titre-logement {
  font-size: 36px;
  color: #FF6B6B;
  font-weight: 500;
  line-height: 51.34px;
}

/* Style pour la localisation du logement */
.endroit-logement {
  font-size: 18px;
  font-weight: 500;
  color: black;
  line-height: 25.67px;
}

/* Conteneur pour les tags du logement */
.description-info_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: auto;
}

/* Style pour chaque tag */
.tag {
  background-color: #ff6b6b;
  color: white;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: center;
}

/* Conteneur pour l'affichage du propriétaire et des évaluations */
.description-info_proprietaire {
  display: flex;
  flex-direction: column;
  margin-left: 80%;
  position: relative;
  bottom: 110px;
}

/* Style pour le nom du propriétaire */
.nom-proprietaire {
  padding-right: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
}

/* Conteneur pour le nom du propriétaire et la photo */
.description-info_proprietaire_nom {
  display: flex;
  align-items: center;
  color: #ff6b6b;
}

/* Style pour l'image du propriétaire */
.description-info_proprietaire_nom img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* Conteneur pour la note du logement */
.description-info_rate {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Conteneur pour les sections Description et Équipements */
.description-content {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
}

/* Styles pour les sections Description et Équipements */
.description-content_description,
.description-content_equipement {
  width: 48%;
}

/* Styles spécifiques pour les équipements listés */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  color: #333;
  margin-bottom: 10px;
}

/* Version tablette */
@media (min-width: 769px) and (max-width: 1024px) {
  .Fiche-container {
    padding: 15px;
  }

  .description-info_titletags {
    margin-left: 40px;
  }

  .titre-logement {
    font-size: 24px;
    line-height: 34px;
  }

  .endroit-logement {
    font-size: 16px;
    line-height: 22px;
  }

  .description-info_tags {
    width: auto;
  }

  .tag {
    font-size: 12px;
    padding: 5px 15px;
  }

  .description-info_proprietaire {
    margin-left: 70%;
  }

  .nom-proprietaire {
    font-size: 16px;
    line-height: 22px;
  }

  .description-info_proprietaire_nom img {
    width: 56px;
    height: 56px;
  }

  .description-content {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    margin-left: 100px;
}

  .description-content_description,
  .description-content_equipement {
    width: 45%;
  }

  ul li {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Version mobile */
@media (max-width: 768px) {
  .Fiche-container {
      padding: 10px;
  }

  .nom-proprietaire {
      margin-right: 0px;
  }

  .Fiche-logement {
      height: auto;
  }

  .description-info {
      margin-bottom: 10px;
  }

  .description-info_titletags {
      margin-left: 0;
  }

  .titre-logement {
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      width: 250px;
  }

  .endroit-logement {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.96px;
      width: 250px;
  }

  .description-info_tags {
      position: relative;
      left: 10px;
      width: 300px;
  }

  .description-info_tags_title {
      position: relative;
      left: 10px;
      width: 250px;
  }

  .tag {
      height: 18px;
      font-size: 10px;
      font-weight: 700;
      line-height: 14.26px;
      padding: 8px 10px 5px 10px;
  }

  /* Styles pour l'affichage du propriétaire et des évaluations */
  .description-info_proprietaire {
      margin-left: 0;
      position: static;
      flex-direction: row-reverse;
      justify-content: space-between;
  }

  .nom-proprietaire {
      font-size: 12px;
      font-weight: 500;
      line-height: 17.11px;
  }

  .description-info_proprietaire_nom img {
      width: 50px;
      height: 50px;
  }

  .description-info_rate {
      margin-right: 0;
      position: relative;
      left: 10px;
  }

  /* Section collapsée (Description et Équipements) */
  .description-content {
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 0px;
      margin-top: 0px;
  }

  .description-content_description,
  .description-content_equipement {
      width: 100%;
      margin-left: 0;
  }

  .description-content_description {
      margin-bottom: 20px;
  }

  ul li {
      font-size: 12px;
      font-weight: 400;
      line-height: 18.54px;
  }
}
  
