@import '../../assets/style/style.css';  /* Importation des styles globaux */

/* Conteneur principal de la bannière */
.banner {
    height: 200px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

/* Image de la bannière */
.banner_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Texte de la bannière */
.banner_text {
    display: flex;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 68.45px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    padding: 0 5%;
    text-align: center;
}

/* Couche sombre sur la bannière */
.banner_sombre {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

/* Version mobile */
@media (max-width: 768px) {
    .banner {
      height: 150px;
    }

    .banner_text {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      text-shadow: none;
      padding-left: 10px;
      text-align: left;
      width: 230px;
    }
}
