@import '../../assets/style/style.css';

.header {
    display: flex;
    flex-direction: row;
    margin: 40px 100px 50px 100px;
  }
  
  .header_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }
  
  .header_nav_ {
    display: flex;
    gap: 60px;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.22px;
  }
  
  .header_list {
    font-size: 20px;
    text-decoration: none;
    color: black; 
  }
  
  .header_list:hover,
  .header_list.active {
      text-decoration: underline;
  }
  
.header img {
    height: 68px;
}

/* Styles spécifiques pour les écrans de moins de 750px */
@media (max-width: 750px) {
  .header {
    margin: 30px 15px;
    align-items: center;
  }

  .header_logo {
    width: 145px; /* Réduit la taille du logo pour les petits écrans */
    height: 46.88px;
  }

  .header_nav {
    width: 100%; 
  }

  .header_nav_ {
    gap: 30px; 
    font-size: 12px; 
    line-height: 17.11px;
    font-weight: 500;
  }
  .header_list {
    font-size: 15px;
  }
}