.header {
    display: flex;
    flex-direction: row;
    margin: 40px 100px 50px 100px;
  }
  
  .header_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }
  
  .header_nav_ {
    display: flex;
    gap: 60px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat';
    list-style-type: none;
  }
  
  .header_list {
    font-size: 20px;
    text-decoration: none;
    color: black; 
    font-weight: 500;
    height: 34px;
  }
  
  .header_list:hover {
    text-decoration: underline;
}
  
.header img {
    height: 68px;
}

/* Styles spécifiques pour les écrans de moins de 750px */
@media (max-width: 750px) {
  .header {
    margin: 30px 15px;
    align-items: center;
  }

  .header_logo {
    width: 130px; /* Réduit la taille du logo pour les petits écrans */
  }

  .header_nav {
    width: 100%; 
  }

  .header_nav_ {
    gap: 30px; 
    font-size: 4vw; 
  }
}