@import '../../assets/style/style.css';

/* Conteneur principal de la galerie */
.Gallerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    row-gap: 30px;
    justify-content: center;
    padding-left: 20px;
}

/* Conteneur principal avec fond et marges */
.fond {
    background-color: #F6F6F6;
    padding: 40px 20px;
    border-radius: 25px;
    margin: 30px auto;
    max-width: 1200px;
}

/* Version tablette */
@media (max-width: 1023px) and (min-width: 768px) {
    .Gallerie {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Version mobile */
@media (max-width: 767px) {
    .Gallerie {
        grid-template-columns: 1fr;
        gap: 0px;
        padding-left: 0px;
    }

    .fond {
        background-color: transparent;
        padding: 20px 10px;
        margin: 15px auto;
        border-radius: 0;
    }
}
