@import '../../assets/style/style.css';

/* Conteneur principal du collapse */
.collapse_container {
  width: 570px;
  margin: 20px 0;
  background-color: #FBFBFB;
  border-radius: 10px;
  overflow: hidden;
}

/* Titre collapse */
.collapse_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  cursor: pointer;
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  font-size: 12px;
  line-height: 25.67px;
  padding-left: 20px;
}

/* Contenu du collapse */
.collapse_content {
  padding: 0 20px;
  background-color: #FBFBFB;
  font-size: 1rem;
  color: #333;
  border-top: 1px solid #ddd;
  max-height: 0; /* Initialement fermé */
  opacity: 0; /* Invisible */
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease; /* Transitions fluides */
}

.collapse_content.open {
  max-height: 500px; /* Ajuste selon le contenu */
  opacity: 1; /* Devenir visible */
  padding: 20px; /* Ajouter du padding quand ouvert */
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
}

/* Flèche vers le haut */
.arrow-up {
  width: 32px;
  height: 32px;
  padding-right: 20px;
}

/* Flèche vers le bas */
.arrow-down {
  width: 27px;
  height: 32px;
  padding-right: 20px;
}

/* Version mobile */
@media screen and (max-width: 768px) {
  .collapse_container {
    width: 100%;
    margin: 10px 0;
  }

  .collapse_title {
    height: 30px;
    font-size: 11px;
    padding: 10px 15px;
    font-weight: 700;
    line-height: 18.54px;
  }

  .collapse_content {
    font-size: 12px;
  }

  .collapse_content.open {
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.54px;
  }

  .arrow-up {
    width: 25px;
    height: 25px;
    padding-right: 0px;
  }
  
  .arrow-down {
    width: 21px;
    height: 25px;
    padding-right: 0px;
  }
}